{{{get_borderBg}}}
<div class="container">
  <div class="row">
    <div class="font-weight-bold col-6">Create Post </div>
  </div>
</div>
</div>
<div class="card-body text-dark">
  <form class="form new-post-form" autocomplete="off">
    <div class="form-group">
      <label for="new-title" class="font-weight-bold">Title:</label>
      <input type="text" class="form-control" id="new-title" name="new-title" value="">
    </div>
    <div class="form-group">
      <label for="edit-content" class="font-weight-bold">Content:</label>
      <textarea class="form-control" id="new-content" name="new-content" rows="3"></textarea>
    </div>
    <div class="form-group post-btns">
      <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Create Post</button>
    </div>
  </form>
</div>
</div>

<script src="../js/new-post.js"></script>